input[type="text"]
    width: 100%

th
    background-color: #eee

td.breakableColumn
    word-break: break-all

td.boldColumn
    background-color: #eee


a:hover
    text-decoration: none !important

.container-fluid
    padding: 0px

.topBanner
    background: #0574ac
    h1
        text-align: center
        margin: 0px
        padding-top: 5px
        padding-bottom: 5px
        padding-bottom: 5px
        color: white

.nav-pills
    li
        float: none
        display: inline-block
        font-size: 20px
    text-align: center

.EnvTabs
    margin-bottom: 5px
    margin-top: 5px

.InstanceTabs
    li
        margin-bottom: 5px
        margin-top: 5px

.AppTable
    border-style: solid
    border-width: 1px
    margin-top: 15px

    .AppTableHeader
        background: #ef6f00
        color: white
        text-align: center

    .InstanceCol
        background: #ddd

.DBTable
    border-style: solid
    border-width: 1px
    margin-top: 15px

    .DBTableHeader
        background: #ef6f00
        color: white
        text-align: center

    .InstanceCol
        background: #ddd

.WebTable
    border-style: solid
    border-width: 1px
    margin-top: 15px

    .WebTableHeader
        background: #ef6f00
        color: white
        text-align: center

    .TypeCol
        background: #ddd

    .WebTableHTTPSHeader
        background: #ddd
        text-align: center

    .WebTableHTTPHeader
        background: #ddd
        text-align: center

.detailsRow
    display: none

.AppDetailsTable_Type
    width: 15%
    background: #eee

.DownCheckURL_Dropdown
    height: 25px
    padding: 0px

.ServerInfoButton
    display: inline
    padding: 0px
    border: 0px
    margin-left: 2px
    color: #333

.InstanceInfoButton
    display: inline
    padding: 0px
    border: 0px
    margin-left: 2px
    color: #333

.modal-title
    display: inline
    color: white

.modal-header
    background-color: #0574ac

.SuperPuttyIcon
    width: 20px
    height: 20px
    margin-left: 5px
    margin-right: 5px

.WinSCPIcon
    width: 20px
    height: 20px
    margin-left: 5px
    margin-right: 5px

.navbar
    background: #555

    .navbar-brand
        color: white
        padding-left: 30px
        font-size: 30px

.dropdown-toggle
    margin-right: 30px
    color: white !important

.GrayLink
    color: #333 !important
    text-decoration: none

.ReleaseTable
    margin-top: 20px

.modal-dialog
    width: 700px

.actionButton
    margin-right: 10px
    margin-bottom: 20px

.logsButton
    float: right

.downloadButton
    float: right

.RightNavElements
    float: right

.HelloText
    color: white
    margin-right: 15px
    margin-top: 15px
    margin-left: 30px
    display: inline-block

.UpdateButton
    display: none

.white_link
    color: white !important

.ABS_Logo
    height: 40px
    margin-top: -10px