/* line 1, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.container-fluid {
  padding: 0px; }

/* line 3, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.topBanner {
  background: #0574ac; }
  /* line 5, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .topBanner h1 {
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: 5px;
    color: white; }

/* line 13, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.nav-pills {
  text-align: center; }
  /* line 14, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .nav-pills li {
    float: none;
    display: inline-block;
    font-size: 20px; }

/* line 20, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.EnvTabs {
  margin-bottom: 5px;
  margin-top: 5px; }

/* line 25, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.InstanceTabs li {
  margin-bottom: 5px;
  margin-top: 5px; }

/* line 29, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.AppTable {
  border-style: solid;
  border-width: 1px;
  margin-top: 15px; }
  /* line 34, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .AppTable .AppTableHeader {
    background: #ef6f00;
    color: white;
    text-align: center; }
  /* line 39, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .AppTable .InstanceCol {
    background: #eee; }

/* line 42, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.WebTable {
  border-style: solid;
  border-width: 1px;
  margin-top: 15px; }
  /* line 47, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .WebTable .WebTableHeader {
    background: #ef6f00;
    color: white;
    text-align: center; }
  /* line 52, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .WebTable .TypeCol {
    background: #eee; }
  /* line 55, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .WebTable .WebTableHTTPSHeader {
    background: #eee;
    text-align: center; }
  /* line 59, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
  .WebTable .WebTableHTTPHeader {
    background: #eee;
    text-align: center; }

/* line 63, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.detailsRow {
  display: none; }

/* line 66, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
.AppDetailsTable_Type {
  width: 15%;
  background: #eee; }

/* line 70, C:/Users/jp3756/Documents/DIM/source/css/index.sass */
input[type="text"] {
  width: 100%; }

/*# sourceMappingURL=index.css.map */