.navbar
	background: #555

.navbar .navbar-brand 
    color: white;
    padding-left: 30px;
    font-size: 30px

.dropdown-toggle 
    margin-right: 30px;
    color: white !important


.RightNavElements
	float: right

.HelloText 
    color: white;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 30px;
    display: inline-block

.TableHeader
	background: #9098a5
	color: white
	text-align: center

td
	text-align: center

a
	text-decoration: none
	color: black

a:hover
	text-decoration: none

.white_link
    color: white !important

.ABS_Logo
    height: 40px
    margin-top: -10px